    <div id="wrapper">
      <%= link_to 'Back', :back, class: 'button' %>
      <input type="search" size="40" placeholder="Search..." class="search"></input>
      <br class="clear" />
        <div id="song-wrapper">
          <span class="title"><%= @song.title %></span>
          <span class="artist"><%= @song.artist %> <%= @song.version_artist.present? ? "(#{@song.version_artist})" : "" %></span>
          <form id="lyrics">
            <input type="radio" name="lyrics" value="chords" id="chords" checked /><label for="chords">Chords + Lyrics</label>
            <input type="radio" name="lyrics" value="lyrics" id="lyrics" /><label for="lyrics">Lyrics Only</label>
          </form>
          <br class="clear" />
            <span data-detail="chords" class="mono"><%= @song.lyrics_and_chords %></span>
            <span data-detail="lyrics" class="mono hide"><%= @song.lyrics %></span>
        </div><!--song-wrapper--> 
        <div id="info-wrapper">
          <% if @song.spotify_url.present? %>
            <div id="spotify">
              <iframe src="https://embed.spotify.com/?uri=<%= @song.spotify_url %>" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
            </div><!--spotify--> 
          <% end %>
          <table>
            <thead>
              <tr>
                <th class="info">Additional Information</th>
             </tr>
            </thead>
            <tbody>
              <tr>
                <td class="info">Instrument: <%= @song.parts %></td>
              </tr>               
              <tr>
                <td class="info">Tuning: <%= @song.tuning %></td>
              </tr>
              <tr>
                <td class="info">Capo: <%= @song.capo %></td>
              </tr>
              <tr>
                <td class="info">Chords: <%= @song.chords %></td>
              </tr>
              <tr>
                <td class="info">Source: <a href="#">Ultimate Guitar</a></td>
              </tr> 
              <% if @song.notes.present? %>
                <tr>
                  <td class="info">Notes:
                      <span class="notes"><%= @song.notes %></span>
                    </td>      
                </tr>    
              <% end %>                                                                                       
            </tbody>
          </table>
          <table>
            <thead>
              <tr>
                <th class="info">Song Information</th>
             </tr>
            </thead>
            <tbody>
              <tr>
                <td class="info">Album: <%= @song.original_album %></td>
              </tr> 
              <% if @song.original_year.present? %> 
                <tr>
                  <td class="info">Year: <%= @song.original_year %></td>
                </tr>
              <% end %>
              <% if @song.version_album.present? %>
                <tr>
                  <td class="info">Version Album: <%= @song.version_album %></td>
                </tr> 
              <% end %> 
              <% if @song.version_year.present? %>
                <tr>
                  <td class="info">Version Year: <%= @song.version_year %></td>
                </tr>  
              <% end %>                                                                                   
            </tbody>
          </table>
          <div id="buttons">
            <%= link_to 'Delete', @song, method: :delete, confirm: 'Are you sure you want to delete this song?', class: 'button right' %>
            <%= link_to 'Edit', edit_song_url(@song), class: "button right breathe" %>
          </div><!--buttons-->
        </div><!--info-wrapper-->   
        <br class="clear" />
    </div><!--wrapper-->
    
    
<script>

  (function(){
    
    var spans = $('span.mono');
    
    $('input[type="radio"]').on('click', function(){
      var type = $(this).val();
      
      spans.each(function(){
        var detail = $(this).data('detail');
        detail == type ? $(this).show() : $(this).hide();
      })
      
    });
    
  })()

</script>